<h1>Listing Rooms</h1>
<h2><%= button_to "Home Page", welcome_index_path, :method => "get"%>
    <%= button_to 'New Room', new_room_path, :method => "get" %>
</h2>

<table>
    <tr>
        <th>Room Code</th>
        <th>Room Password</th>
    </tr>
    
       




<% @rooms.each do |room| %>
    <tr>
        <td><%= room.roomcode %></td>
        <td><%= room.roompassword %></td>
        <td><%= link_to 'Show', room_path(room) %></td>
        <td><%= link_to 'Edit', edit_room_path(room) %></td>
        <td><%= link_to 'Destroy', 
                                    room_path(room),
                                    method: :delete,
                                    data: {confirm: 'U mad bro?' } %></td>
    </tr>
<% end %>
    <div id="snow"></div>

</table>