<h1>Create a New Room</h1>
<p>Must rename view as newroom</p>
<%= form_for :room, url: rooms_path do |f| %>

  <% if @room.errors.any? %>
    <div id="error_explantion">
      <h2>
        <%= pluralize(@room.errors.count, "error") %> prohibited
        this room cannot be created because:
      </h2>
      <ul>
        <% @room.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <%end%>
      </ul>
    </div>
  <% end %>
  

  <p>
    <%= f.label :roomcode %><br>
    <%= f.text_field :roomcode %> <!-- change back to password only allow Admin to see this field-->
  </p>
 
  <p>
    <%= f.label :roompassword %><br>
    <%= f.text_field :roompassword %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', rooms_path %>