
<p>
    <strong>Room code:</strong>
    <%= @room.roomcode %>
    
</p>


<p>
    <strong>Room Password:</strong>
    <%= @room.roompassword %>
</p>

<h2>Users</h2>
<% @room.matches.each do |match| %>
    <p>
        <%= match.name %>
    </p>

<% end %>

<h2>Add a User</h2>
<%= form_for([@room, @room.matches.build]) do |f| %>
    <p>
        <%= f.label :name %><br>
        <%= f.text_field :name %>
    </p>
    
    <p>
        <%= f.submit %>
    </p>
<% end %>