<%= form_for([@room, @room.matches.build]) do |f| %>
    <form action="/action_page.php" method="get">
    <p>
        <%= f.label :name %><br>
        <%= f.text_field :name %>
    </p>
    
    <p>
        <%= button_to "Add User", rooms_path, id: "add_user", :method => "get" %>
    </p>
    
    <p>
         <%= button_to "Back", rooms_path, id: "back", :method => "get" %>
    </p>
    </form>
    
    
<% end %>

<%= button_to 'Match Names', sortNames_room_match_path(@room), :method => "get" %>


