<%= form_for([@room, @room.matches.build]) do |f| %>
    <p>
        <%= f.label :name %><br>
        <%= f.text_field :name %>
    </p>
    
    <p>
        <%= f.submit %>
    </p>
    
    
    
<% end %>

<%= link_to 'Match Names', sortNames_rooms_path %>

