<h1>List of Users</h1>

<%= form_for :user, url: users_path do |f| %>

<p>
    <strong>First Name:</strong>
    <%= @user.fname %>
</p>

<p>
    <strong>Last Name:</strong>
    <%= @user.lname %>
</p>

<p>
    <strong>Username:</strong>
    <%= @user.username %>
</p>

<p>
    <strong>Password:</strong>
    <%= @user.password %>
</p>

<p>
    <strong>Email:</strong>
    <%= @user.email %>
</p>

<p>
    <strong>Address:</strong>
    <%= @user.address %>
</p>

<p>
    <strong>Wish List:</strong>
    <%= @user.wish_list %>
</p>
<%= link_to 'User List', users_path %>

<% end %>